#sidebar__mainbar {
      overflow: hidden;
      position: relative;
      background: linear-gradient(to bottom right, var(--charcoal-7-9), var(--charcoal-9-9));
}

#sidebar__mainbar svg {
      width: 2.5rem;
      height: 2.5rem;
      color: var(--white-9-9);
}

.mainbar__li {
      overflow: hidden;
      position: absolute;
}

.mainbar__li::before {
      display: block;
      position: absolute;
      content: '';
      left: 50%;
      top: 50%;
      width: 80%;
      height: 80%;
      transform: translate(-50%, -50%);
      border-radius: 10px;
      background: var(--charcoal-2-4);
      transition: width 0.125s ease, height 0.125s ease;
      will-change: width, height;
      z-index: 0;
}

.mainbar__li:hover::before {
      width: 85%;
      height: 85%;
      background: var(--charcoal-2-9);
}

.mainbar__li.selected::before {
      width: 85%;
      height: 85%;
      background: linear-gradient(to bottom right, var(--red-4-9), var(--orange-2-9));
}

.mainbar__li svg {
      z-index: 1;
}

#sidebar__border {
      background: linear-gradient(to bottom right, var(--charcoal-2-9), var(--charcoal-6-9));
}

#sidebar__panelbar {
      overflow: hidden;
      position: relative;
      transition: width 0.5s ease, border-left-width 0.5s ease, border-left-color 0.5s ease;
      background: linear-gradient(to bottom right, var(--charcoal-7-9), var(--charcoal-9-9));
}

#sidebar__panelbar[data-action-status='minimize'] {
      width: 0rem !important;
}

#sidebar__panelbar[data-action-status='maximize'] {
      width: 16rem !important;
}

#panelbar__header {
      color: var(--white-9-9);
      overflow: hidden;
      position: relative;
}

#panelbar__header .txt-box {
      padding-left: 1rem;
      font-size: 1.2rem;
      font-weight: bold;
}

#panelbar__search {
      overflow: hidden;
      position: relative;
      padding: 0.5rem 1rem;
}

#panelbar__search__box {
      position: relative;
}

#panelbar__search__box .svg-box {
      position: absolute !important;
      left: 0;
      top: 0;
      width: 3rem;
      height: 3rem;
      color: var(--white-9-9);
}

#panelbar__search__box .svg-box svg {
      width: 1.5rem;
      height: 1.5rem;
}

#panelbar__search__box input {
      background-color: var(--charcoal-2-6);
      color: var(--white-9-9);
      outline: none;
      border: none;
      border-radius: 5px;
      padding-left: 3rem;
}

#panelbar__search__box input:focus {
      outline: 2px solid var(--white-9-9);
}

#panelbar__search__box input::placeholder {
      color: var(--white-9-9);
}

.panelbar__li-header {
      color: var(--white-9-9);
      font-size: 1.1em;
      font-weight: bold;
}

.panelbar__li-header svg {
      width: 1.5em;
      height: 1.5em;
}

.panelbar__li-header:hover {
      transform: translateX(0.25rem);
      transition: transform 0.375s ease;
}

.panelbar__li {
      color: var(--white-9-9);
      font-size: 1em;
      font-weight: bold;
      height: 3rem;
}

.panelbar__li svg {
      width: 1.5em;
      height: 1.5em;
}

.panelbar__li-body {
      overflow: hidden;
      position: relative;
      transition: height 0.5s ease;
      height: 0rem !important;
      will-change: height;
}

.panelbar__ul > div::before {
      display: block;
      position: absolute;
      content: '';
      left: 50%;
      top: calc(100% - 2px);
      width: 80%;
      height: 2px;
      transform: translate(-50%, 0%);
      border-radius: 10px;
      background: linear-gradient(to bottom right, var(--red-4-9), var(--orange-2-9));
      z-index: 0;
}

.panelbar__li-body[data-action-status='minimize'] {
      height: 0rem !important;
}

#front-end__framework[data-action-status='maximize'] {
      height: 10rem !important;
}

#front-end__animation[data-action-status='maximize'] {
      height: 16rem !important;
}

.panelbar__li::before {
      display: block;
      position: absolute;
      content: '';
      left: 40%;
      top: 50%;
      width: 0%;
      height: 80%;
      transform: translate(0%, -50%);
      border-radius: 10px;
      background: var(--charcoal-2-4);
      transition: width 0.375s ease;
      will-change: width;
      z-index: 0;
}

.panelbar__li:hover::before {
      width: 50%;
      background: var(--charcoal-2-9);
}

.panelbar__li.selected::before {
      width: 50%;
      background: linear-gradient(to bottom right, var(--red-4-9), var(--orange-2-9));
}
