:root {
      /* white-0 (#FFFFFF) */
      --white-9-0: rgba(255, 255, 255, 0);
      --white-9-1: rgba(255, 255, 255, 0.1);
      --white-9-2: rgba(255, 255, 255, 0.2);
      --white-9-3: rgba(255, 255, 255, 0.3);
      --white-9-4: rgba(255, 255, 255, 0.4);
      --white-9-5: rgba(255, 255, 255, 0.5);
      --white-9-6: rgba(255, 255, 255, 0.6);
      --white-9-7: rgba(255, 255, 255, 0.7);
      --white-9-8: rgba(255, 255, 255, 0.8);
      --white-9-9: rgba(255, 255, 255, 0.9);

      /* red-0 (#ffebee) */
      --red-0-0: rgba(255, 235, 238, 0);
      --red-0-1: rgba(255, 235, 238, 0.1);
      --red-0-2: rgba(255, 235, 238, 0.2);
      --red-0-3: rgba(255, 235, 238, 0.3);
      --red-0-4: rgba(255, 235, 238, 0.4);
      --red-0-5: rgba(255, 235, 238, 0.5);
      --red-0-6: rgba(255, 235, 238, 0.6);
      --red-0-7: rgba(255, 235, 238, 0.7);
      --red-0-8: rgba(255, 235, 238, 0.8);
      --red-0-9: rgba(255, 235, 238, 0.9);

      /* red-1 (#ffcdd2) */
      --red-1-0: rgba(255, 205, 210, 0);
      --red-1-1: rgba(255, 205, 210, 0.1);
      --red-1-2: rgba(255, 205, 210, 0.2);
      --red-1-3: rgba(255, 205, 210, 0.3);
      --red-1-4: rgba(255, 205, 210, 0.4);
      --red-1-5: rgba(255, 205, 210, 0.5);
      --red-1-6: rgba(255, 205, 210, 0.6);
      --red-1-7: rgba(255, 205, 210, 0.7);
      --red-1-8: rgba(255, 205, 210, 0.8);
      --red-1-9: rgba(255, 205, 210, 0.9);

      /* red-2 (#ef9a9a) */
      --red-2-0: rgba(239, 154, 154, 0);
      --red-2-1: rgba(239, 154, 154, 0.1);
      --red-2-2: rgba(239, 154, 154, 0.2);
      --red-2-3: rgba(239, 154, 154, 0.3);
      --red-2-4: rgba(239, 154, 154, 0.4);
      --red-2-5: rgba(239, 154, 154, 0.5);
      --red-2-6: rgba(239, 154, 154, 0.6);
      --red-2-7: rgba(239, 154, 154, 0.7);
      --red-2-8: rgba(239, 154, 154, 0.8);
      --red-2-9: rgba(239, 154, 154, 0.9);

      /* red-3 (#e57373) */
      --red-3-0: rgba(229, 115, 115, 0);
      --red-3-1: rgba(229, 115, 115, 0.1);
      --red-3-2: rgba(229, 115, 115, 0.2);
      --red-3-3: rgba(229, 115, 115, 0.3);
      --red-3-4: rgba(229, 115, 115, 0.4);
      --red-3-5: rgba(229, 115, 115, 0.5);
      --red-3-6: rgba(229, 115, 115, 0.6);
      --red-3-7: rgba(229, 115, 115, 0.7);
      --red-3-8: rgba(229, 115, 115, 0.8);
      --red-3-9: rgba(229, 115, 115, 0.9);

      /* red-4 (#ef5350) */
      --red-4-0: rgba(239, 83, 80, 0);
      --red-4-1: rgba(239, 83, 80, 0.1);
      --red-4-2: rgba(239, 83, 80, 0.2);
      --red-4-3: rgba(239, 83, 80, 0.3);
      --red-4-4: rgba(239, 83, 80, 0.4);
      --red-4-5: rgba(239, 83, 80, 0.5);
      --red-4-6: rgba(239, 83, 80, 0.6);
      --red-4-7: rgba(239, 83, 80, 0.7);
      --red-4-8: rgba(239, 83, 80, 0.8);
      --red-4-9: rgba(239, 83, 80, 0.9);

      /* red-5 (#f44336) */
      --red-5-0: rgba(244, 67, 54, 0);
      --red-5-1: rgba(244, 67, 54, 0.1);
      --red-5-2: rgba(244, 67, 54, 0.2);
      --red-5-3: rgba(244, 67, 54, 0.3);
      --red-5-4: rgba(244, 67, 54, 0.4);
      --red-5-5: rgba(244, 67, 54, 0.5);
      --red-5-6: rgba(244, 67, 54, 0.6);
      --red-5-7: rgba(244, 67, 54, 0.7);
      --red-5-8: rgba(244, 67, 54, 0.8);
      --red-5-9: rgba(244, 67, 54, 0.9);

      /* red-6 (#e53935) */
      --red-6-0: rgba(229, 57, 53, 0);
      --red-6-1: rgba(229, 57, 53, 0.1);
      --red-6-2: rgba(229, 57, 53, 0.2);
      --red-6-3: rgba(229, 57, 53, 0.3);
      --red-6-4: rgba(229, 57, 53, 0.4);
      --red-6-5: rgba(229, 57, 53, 0.5);
      --red-6-6: rgba(229, 57, 53, 0.6);
      --red-6-7: rgba(229, 57, 53, 0.7);
      --red-6-8: rgba(229, 57, 53, 0.8);
      --red-6-9: rgba(229, 57, 53, 0.9);

      /* red-7 (#d32f2f) */
      --red-7-0: rgba(211, 47, 47, 0);
      --red-7-1: rgba(211, 47, 47, 0.1);
      --red-7-2: rgba(211, 47, 47, 0.2);
      --red-7-3: rgba(211, 47, 47, 0.3);
      --red-7-4: rgba(211, 47, 47, 0.4);
      --red-7-5: rgba(211, 47, 47, 0.5);
      --red-7-6: rgba(211, 47, 47, 0.6);
      --red-7-7: rgba(211, 47, 47, 0.7);
      --red-7-8: rgba(211, 47, 47, 0.8);
      --red-7-9: rgba(211, 47, 47, 0.9);

      /* red-8 (#c62828) */
      --red-8-0: rgba(198, 40, 40, 0);
      --red-8-1: rgba(198, 40, 40, 0.1);
      --red-8-2: rgba(198, 40, 40, 0.2);
      --red-8-3: rgba(198, 40, 40, 0.3);
      --red-8-4: rgba(198, 40, 40, 0.4);
      --red-8-5: rgba(198, 40, 40, 0.5);
      --red-8-6: rgba(198, 40, 40, 0.6);
      --red-8-7: rgba(198, 40, 40, 0.7);
      --red-8-8: rgba(198, 40, 40, 0.8);
      --red-8-9: rgba(198, 40, 40, 0.9);

      /* red-9 (#b71c1c) */
      --red-9-0: rgba(183, 28, 28, 0);
      --red-9-1: rgba(183, 28, 28, 0.1);
      --red-9-2: rgba(183, 28, 28, 0.2);
      --red-9-3: rgba(183, 28, 28, 0.3);
      --red-9-4: rgba(183, 28, 28, 0.4);
      --red-9-5: rgba(183, 28, 28, 0.5);
      --red-9-6: rgba(183, 28, 28, 0.6);
      --red-9-7: rgba(183, 28, 28, 0.7);
      --red-9-8: rgba(183, 28, 28, 0.8);
      --red-9-9: rgba(183, 28, 28, 0.9);

      /* orange-0 (#fff3e0) */
      --orange-0-0: rgba(255, 243, 224, 0);
      --orange-0-1: rgba(255, 243, 224, 0.1);
      --orange-0-2: rgba(255, 243, 224, 0.2);
      --orange-0-3: rgba(255, 243, 224, 0.3);
      --orange-0-4: rgba(255, 243, 224, 0.4);
      --orange-0-5: rgba(255, 243, 224, 0.5);
      --orange-0-6: rgba(255, 243, 224, 0.6);
      --orange-0-7: rgba(255, 243, 224, 0.7);
      --orange-0-8: rgba(255, 243, 224, 0.8);
      --orange-0-9: rgba(255, 243, 224, 0.9);

      /* orange-1 (#ffcc80) */
      --orange-1-0: rgba(255, 204, 128, 0);
      --orange-1-1: rgba(255, 204, 128, 0.1);
      --orange-1-2: rgba(255, 204, 128, 0.2);
      --orange-1-3: rgba(255, 204, 128, 0.3);
      --orange-1-4: rgba(255, 204, 128, 0.4);
      --orange-1-5: rgba(255, 204, 128, 0.5);
      --orange-1-6: rgba(255, 204, 128, 0.6);
      --orange-1-7: rgba(255, 204, 128, 0.7);
      --orange-1-8: rgba(255, 204, 128, 0.8);
      --orange-1-9: rgba(255, 204, 128, 0.9);

      /* orange-2 (#ffb74d) */
      --orange-2-0: rgba(255, 183, 77, 0);
      --orange-2-1: rgba(255, 183, 77, 0.1);
      --orange-2-2: rgba(255, 183, 77, 0.2);
      --orange-2-3: rgba(255, 183, 77, 0.3);
      --orange-2-4: rgba(255, 183, 77, 0.4);
      --orange-2-5: rgba(255, 183, 77, 0.5);
      --orange-2-6: rgba(255, 183, 77, 0.6);
      --orange-2-7: rgba(255, 183, 77, 0.7);
      --orange-2-8: rgba(255, 183, 77, 0.8);
      --orange-2-9: rgba(255, 183, 77, 0.9);

      /* orange-3 (#ff9800) */
      --orange-3-0: rgba(255, 152, 0, 0);
      --orange-3-1: rgba(255, 152, 0, 0.1);
      --orange-3-2: rgba(255, 152, 0, 0.2);
      --orange-3-3: rgba(255, 152, 0, 0.3);
      --orange-3-4: rgba(255, 152, 0, 0.4);
      --orange-3-5: rgba(255, 152, 0, 0.5);
      --orange-3-6: rgba(255, 152, 0, 0.6);
      --orange-3-7: rgba(255, 152, 0, 0.7);
      --orange-3-8: rgba(255, 152, 0, 0.8);
      --orange-3-9: rgba(255, 152, 0, 0.9);

      /* orange-4 (#fb8c00) */
      --orange-4-0: rgba(251, 140, 0, 0);
      --orange-4-1: rgba(251, 140, 0, 0.1);
      --orange-4-2: rgba(251, 140, 0, 0.2);
      --orange-4-3: rgba(251, 140, 0, 0.3);
      --orange-4-4: rgba(251, 140, 0, 0.4);
      --orange-4-5: rgba(251, 140, 0, 0.5);
      --orange-4-6: rgba(251, 140, 0, 0.6);
      --orange-4-7: rgba(251, 140, 0, 0.7);
      --orange-4-8: rgba(251, 140, 0, 0.8);
      --orange-4-9: rgba(251, 140, 0, 0.9);

      /* orange-5 (#f57c00) */
      --orange-5-0: rgba(245, 124, 0, 0);
      --orange-5-1: rgba(245, 124, 0, 0.1);
      --orange-5-2: rgba(245, 124, 0, 0.2);
      --orange-5-3: rgba(245, 124, 0, 0.3);
      --orange-5-4: rgba(245, 124, 0, 0.4);
      --orange-5-5: rgba(245, 124, 0, 0.5);
      --orange-5-6: rgba(245, 124, 0, 0.6);
      --orange-5-7: rgba(245, 124, 0, 0.7);
      --orange-5-8: rgba(245, 124, 0, 0.8);
      --orange-5-9: rgba(245, 124, 0, 0.9);

      /* orange-6 (#ef6c00) */
      --orange-6-0: rgba(239, 108, 0, 0);
      --orange-6-1: rgba(239, 108, 0, 0.1);
      --orange-6-2: rgba(239, 108, 0, 0.2);
      --orange-6-3: rgba(239, 108, 0, 0.3);
      --orange-6-4: rgba(239, 108, 0, 0.4);
      --orange-6-5: rgba(239, 108, 0, 0.5);
      --orange-6-6: rgba(239, 108, 0, 0.6);
      --orange-6-7: rgba(239, 108, 0, 0.7);
      --orange-6-8: rgba(239, 108, 0, 0.8);
      --orange-6-9: rgba(239, 108, 0, 0.9);

      /* orange-7 (#e65100) */
      --orange-7-0: rgba(230, 81, 0, 0);
      --orange-7-1: rgba(230, 81, 0, 0.1);
      --orange-7-2: rgba(230, 81, 0, 0.2);
      --orange-7-3: rgba(230, 81, 0, 0.3);
      --orange-7-4: rgba(230, 81, 0, 0.4);
      --orange-7-5: rgba(230, 81, 0, 0.5);
      --orange-7-6: rgba(230, 81, 0, 0.6);
      --orange-7-7: rgba(230, 81, 0, 0.7);
      --orange-7-8: rgba(230, 81, 0, 0.8);
      --orange-7-9: rgba(230, 81, 0, 0.9);

      /* orange-8 (#dd5100) */
      --orange-8-0: rgba(221, 81, 0, 0);
      --orange-8-1: rgba(221, 81, 0, 0.1);
      --orange-8-2: rgba(221, 81, 0, 0.2);
      --orange-8-3: rgba(221, 81, 0, 0.3);
      --orange-8-4: rgba(221, 81, 0, 0.4);
      --orange-8-5: rgba(221, 81, 0, 0.5);
      --orange-8-6: rgba(221, 81, 0, 0.6);
      --orange-8-7: rgba(221, 81, 0, 0.7);
      --orange-8-8: rgba(221, 81, 0, 0.8);
      --orange-8-9: rgba(221, 81, 0, 0.9);

      /* orange-9 (#d14000) */
      --orange-9-0: rgba(209, 64, 0, 0);
      --orange-9-1: rgba(209, 64, 0, 0.1);
      --orange-9-2: rgba(209, 64, 0, 0.2);
      --orange-9-3: rgba(209, 64, 0, 0.3);
      --orange-9-4: rgba(209, 64, 0, 0.4);
      --orange-9-5: rgba(209, 64, 0, 0.5);
      --orange-9-6: rgba(209, 64, 0, 0.6);
      --orange-9-7: rgba(209, 64, 0, 0.7);
      --orange-9-8: rgba(209, 64, 0, 0.8);
      --orange-9-9: rgba(209, 64, 0, 0.9);

      /* green-0 (#e8f5e9) */
      --green-0-0: rgba(232, 245, 233, 0);
      --green-0-1: rgba(232, 245, 233, 0.1);
      --green-0-2: rgba(232, 245, 233, 0.2);
      --green-0-3: rgba(232, 245, 233, 0.3);
      --green-0-4: rgba(232, 245, 233, 0.4);
      --green-0-5: rgba(232, 245, 233, 0.5);
      --green-0-6: rgba(232, 245, 233, 0.6);
      --green-0-7: rgba(232, 245, 233, 0.7);
      --green-0-8: rgba(232, 245, 233, 0.8);
      --green-0-9: rgba(232, 245, 233, 0.9);

      /* green-1 (#c8e6c9) */
      --green-1-0: rgba(200, 230, 201, 0);
      --green-1-1: rgba(200, 230, 201, 0.1);
      --green-1-2: rgba(200, 230, 201, 0.2);
      --green-1-3: rgba(200, 230, 201, 0.3);
      --green-1-4: rgba(200, 230, 201, 0.4);
      --green-1-5: rgba(200, 230, 201, 0.5);
      --green-1-6: rgba(200, 230, 201, 0.6);
      --green-1-7: rgba(200, 230, 201, 0.7);
      --green-1-8: rgba(200, 230, 201, 0.8);
      --green-1-9: rgba(200, 230, 201, 0.9);

      /* green-2 (#a5d6a7) */
      --green-2-0: rgba(165, 214, 167, 0);
      --green-2-1: rgba(165, 214, 167, 0.1);
      --green-2-2: rgba(165, 214, 167, 0.2);
      --green-2-3: rgba(165, 214, 167, 0.3);
      --green-2-4: rgba(165, 214, 167, 0.4);
      --green-2-5: rgba(165, 214, 167, 0.5);
      --green-2-6: rgba(165, 214, 167, 0.6);
      --green-2-7: rgba(165, 214, 167, 0.7);
      --green-2-8: rgba(165, 214, 167, 0.8);
      --green-2-9: rgba(165, 214, 167, 0.9);

      /* green-3 (#81c784) */
      --green-3-0: rgba(129, 199, 132, 0);
      --green-3-1: rgba(129, 199, 132, 0.1);
      --green-3-2: rgba(129, 199, 132, 0.2);
      --green-3-3: rgba(129, 199, 132, 0.3);
      --green-3-4: rgba(129, 199, 132, 0.4);
      --green-3-5: rgba(129, 199, 132, 0.5);
      --green-3-6: rgba(129, 199, 132, 0.6);
      --green-3-7: rgba(129, 199, 132, 0.7);
      --green-3-8: rgba(129, 199, 132, 0.8);
      --green-3-9: rgba(129, 199, 132, 0.9);

      /* green-4 (#66bb6a) */
      --green-4-0: rgba(102, 187, 106, 0);
      --green-4-1: rgba(102, 187, 106, 0.1);
      --green-4-2: rgba(102, 187, 106, 0.2);
      --green-4-3: rgba(102, 187, 106, 0.3);
      --green-4-4: rgba(102, 187, 106, 0.4);
      --green-4-5: rgba(102, 187, 106, 0.5);
      --green-4-6: rgba(102, 187, 106, 0.6);
      --green-4-7: rgba(102, 187, 106, 0.7);
      --green-4-8: rgba(102, 187, 106, 0.8);
      --green-4-9: rgba(102, 187, 106, 0.9);

      /* green-5 (#4caf50) */
      --green-5-0: rgba(76, 175, 80, 0);
      --green-5-1: rgba(76, 175, 80, 0.1);
      --green-5-2: rgba(76, 175, 80, 0.2);
      --green-5-3: rgba(76, 175, 80, 0.3);
      --green-5-4: rgba(76, 175, 80, 0.4);
      --green-5-5: rgba(76, 175, 80, 0.5);
      --green-5-6: rgba(76, 175, 80, 0.6);
      --green-5-7: rgba(76, 175, 80, 0.7);
      --green-5-8: rgba(76, 175, 80, 0.8);
      --green-5-9: rgba(76, 175, 80, 0.9);

      /* green-6 (#43a047) */
      --green-6-0: rgba(67, 160, 71, 0);
      --green-6-1: rgba(67, 160, 71, 0.1);
      --green-6-2: rgba(67, 160, 71, 0.2);
      --green-6-3: rgba(67, 160, 71, 0.3);
      --green-6-4: rgba(67, 160, 71, 0.4);
      --green-6-5: rgba(67, 160, 71, 0.5);
      --green-6-6: rgba(67, 160, 71, 0.6);
      --green-6-7: rgba(67, 160, 71, 0.7);
      --green-6-8: rgba(67, 160, 71, 0.8);
      --green-6-9: rgba(67, 160, 71, 0.9);

      /* green-7 (#388e3c) */
      --green-7-0: rgba(56, 142, 60, 0);
      --green-7-1: rgba(56, 142, 60, 0.1);
      --green-7-2: rgba(56, 142, 60, 0.2);
      --green-7-3: rgba(56, 142, 60, 0.3);
      --green-7-4: rgba(56, 142, 60, 0.4);
      --green-7-5: rgba(56, 142, 60, 0.5);
      --green-7-6: rgba(56, 142, 60, 0.6);
      --green-7-7: rgba(56, 142, 60, 0.7);
      --green-7-8: rgba(56, 142, 60, 0.8);
      --green-7-9: rgba(56, 142, 60, 0.9);

      /* green-8 (#2e7d32) */
      --green-8-0: rgba(46, 125, 50, 0);
      --green-8-1: rgba(46, 125, 50, 0.1);
      --green-8-2: rgba(46, 125, 50, 0.2);
      --green-8-3: rgba(46, 125, 50, 0.3);
      --green-8-4: rgba(46, 125, 50, 0.4);
      --green-8-5: rgba(46, 125, 50, 0.5);
      --green-8-6: rgba(46, 125, 50, 0.6);
      --green-8-7: rgba(46, 125, 50, 0.7);
      --green-8-8: rgba(46, 125, 50, 0.8);
      --green-8-9: rgba(46, 125, 50, 0.9);

      /* green-9 (#1b5e20) */
      --green-9-0: rgba(27, 94, 32, 0);
      --green-9-1: rgba(27, 94, 32, 0.1);
      --green-9-2: rgba(27, 94, 32, 0.2);
      --green-9-3: rgba(27, 94, 32, 0.3);
      --green-9-4: rgba(27, 94, 32, 0.4);
      --green-9-5: rgba(27, 94, 32, 0.5);
      --green-9-6: rgba(27, 94, 32, 0.6);
      --green-9-7: rgba(27, 94, 32, 0.7);
      --green-9-8: rgba(27, 94, 32, 0.8);
      --green-9-9: rgba(27, 94, 32, 0.9);

      /* cyan-0 (#E0F7FA) */
      --cyan-0-0: rgba(224, 247, 250, 0);
      --cyan-0-1: rgba(224, 247, 250, 0.1);
      --cyan-0-2: rgba(224, 247, 250, 0.2);
      --cyan-0-3: rgba(224, 247, 250, 0.3);
      --cyan-0-4: rgba(224, 247, 250, 0.4);
      --cyan-0-5: rgba(224, 247, 250, 0.5);
      --cyan-0-6: rgba(224, 247, 250, 0.6);
      --cyan-0-7: rgba(224, 247, 250, 0.7);
      --cyan-0-8: rgba(224, 247, 250, 0.8);
      --cyan-0-9: rgba(224, 247, 250, 0.9);

      /* cyan-1 (#B2EBF2) */
      --cyan-1-0: rgba(178, 235, 242, 0);
      --cyan-1-1: rgba(178, 235, 242, 0.1);
      --cyan-1-2: rgba(178, 235, 242, 0.2);
      --cyan-1-3: rgba(178, 235, 242, 0.3);
      --cyan-1-4: rgba(178, 235, 242, 0.4);
      --cyan-1-5: rgba(178, 235, 242, 0.5);
      --cyan-1-6: rgba(178, 235, 242, 0.6);
      --cyan-1-7: rgba(178, 235, 242, 0.7);
      --cyan-1-8: rgba(178, 235, 242, 0.8);
      --cyan-1-9: rgba(178, 235, 242, 0.9);

      /* cyan-2 (#80DEEA) */
      --cyan-2-0: rgba(128, 222, 234, 0);
      --cyan-2-1: rgba(128, 222, 234, 0.1);
      --cyan-2-2: rgba(128, 222, 234, 0.2);
      --cyan-2-3: rgba(128, 222, 234, 0.3);
      --cyan-2-4: rgba(128, 222, 234, 0.4);
      --cyan-2-5: rgba(128, 222, 234, 0.5);
      --cyan-2-6: rgba(128, 222, 234, 0.6);
      --cyan-2-7: rgba(128, 222, 234, 0.7);
      --cyan-2-8: rgba(128, 222, 234, 0.8);
      --cyan-2-9: rgba(128, 222, 234, 0.9);

      /* cyan-3 (#4DD0E1) */
      --cyan-3-0: rgba(77, 208, 225, 0);
      --cyan-3-1: rgba(77, 208, 225, 0.1);
      --cyan-3-2: rgba(77, 208, 225, 0.2);
      --cyan-3-3: rgba(77, 208, 225, 0.3);
      --cyan-3-4: rgba(77, 208, 225, 0.4);
      --cyan-3-5: rgba(77, 208, 225, 0.5);
      --cyan-3-6: rgba(77, 208, 225, 0.6);
      --cyan-3-7: rgba(77, 208, 225, 0.7);
      --cyan-3-8: rgba(77, 208, 225, 0.8);
      --cyan-3-9: rgba(77, 208, 225, 0.9);

      /* cyan-4 (#26C6DA) */
      --cyan-4-0: rgba(38, 198, 218, 0);
      --cyan-4-1: rgba(38, 198, 218, 0.1);
      --cyan-4-2: rgba(38, 198, 218, 0.2);
      --cyan-4-3: rgba(38, 198, 218, 0.3);
      --cyan-4-4: rgba(38, 198, 218, 0.4);
      --cyan-4-5: rgba(38, 198, 218, 0.5);
      --cyan-4-6: rgba(38, 198, 218, 0.6);
      --cyan-4-7: rgba(38, 198, 218, 0.7);
      --cyan-4-8: rgba(38, 198, 218, 0.8);
      --cyan-4-9: rgba(38, 198, 218, 0.9);

      /* cyan-5 (#00BCD4) */
      --cyan-5-0: rgba(0, 188, 212, 0);
      --cyan-5-1: rgba(0, 188, 212, 0.1);
      --cyan-5-2: rgba(0, 188, 212, 0.2);
      --cyan-5-3: rgba(0, 188, 212, 0.3);
      --cyan-5-4: rgba(0, 188, 212, 0.4);
      --cyan-5-5: rgba(0, 188, 212, 0.5);
      --cyan-5-6: rgba(0, 188, 212, 0.6);
      --cyan-5-7: rgba(0, 188, 212, 0.7);
      --cyan-5-8: rgba(0, 188, 212, 0.8);
      --cyan-5-9: rgba(0, 188, 212, 0.9);

      /* cyan-6 (#00ACC1) */
      --cyan-6-0: rgba(0, 172, 193, 0);
      --cyan-6-1: rgba(0, 172, 193, 0.1);
      --cyan-6-2: rgba(0, 172, 193, 0.2);
      --cyan-6-3: rgba(0, 172, 193, 0.3);
      --cyan-6-4: rgba(0, 172, 193, 0.4);
      --cyan-6-5: rgba(0, 172, 193, 0.5);
      --cyan-6-6: rgba(0, 172, 193, 0.6);
      --cyan-6-7: rgba(0, 172, 193, 0.7);
      --cyan-6-8: rgba(0, 172, 193, 0.8);
      --cyan-6-9: rgba(0, 172, 193, 0.9);

      /* cyan-7 (#0097A7) */
      --cyan-7-0: rgba(0, 151, 167, 0);
      --cyan-7-1: rgba(0, 151, 167, 0.1);
      --cyan-7-2: rgba(0, 151, 167, 0.2);
      --cyan-7-3: rgba(0, 151, 167, 0.3);
      --cyan-7-4: rgba(0, 151, 167, 0.4);
      --cyan-7-5: rgba(0, 151, 167, 0.5);
      --cyan-7-6: rgba(0, 151, 167, 0.6);
      --cyan-7-7: rgba(0, 151, 167, 0.7);
      --cyan-7-8: rgba(0, 151, 167, 0.8);
      --cyan-7-9: rgba(0, 151, 167, 0.9);

      /* cyan-8 (#00838F) */
      --cyan-8-0: rgba(0, 131, 143, 0);
      --cyan-8-1: rgba(0, 131, 143, 0.1);
      --cyan-8-2: rgba(0, 131, 143, 0.2);
      --cyan-8-3: rgba(0, 131, 143, 0.3);
      --cyan-8-4: rgba(0, 131, 143, 0.4);
      --cyan-8-5: rgba(0, 131, 143, 0.5);
      --cyan-8-6: rgba(0, 131, 143, 0.6);
      --cyan-8-7: rgba(0, 131, 143, 0.7);
      --cyan-8-8: rgba(0, 131, 143, 0.8);
      --cyan-8-9: rgba(0, 131, 143, 0.9);

      /* cyan-9 (#006064) */
      --cyan-9-0: rgba(0, 96, 100, 0);
      --cyan-9-1: rgba(0, 96, 100, 0.1);
      --cyan-9-2: rgba(0, 96, 100, 0.2);
      --cyan-9-3: rgba(0, 96, 100, 0.3);
      --cyan-9-4: rgba(0, 96, 100, 0.4);
      --cyan-9-5: rgba(0, 96, 100, 0.5);
      --cyan-9-6: rgba(0, 96, 100, 0.6);
      --cyan-9-7: rgba(0, 96, 100, 0.7);
      --cyan-9-8: rgba(0, 96, 100, 0.8);
      --cyan-9-9: rgba(0, 96, 100, 0.9);

      /* blue-0 (#e3f2fd) */
      --blue-0-0: rgba(227, 242, 253, 0);
      --blue-0-1: rgba(227, 242, 253, 0.1);
      --blue-0-2: rgba(227, 242, 253, 0.2);
      --blue-0-3: rgba(227, 242, 253, 0.3);
      --blue-0-4: rgba(227, 242, 253, 0.4);
      --blue-0-5: rgba(227, 242, 253, 0.5);
      --blue-0-6: rgba(227, 242, 253, 0.6);
      --blue-0-7: rgba(227, 242, 253, 0.7);
      --blue-0-8: rgba(227, 242, 253, 0.8);
      --blue-0-9: rgba(227, 242, 253, 0.9);

      /* blue-1 (#bbdefb) */
      --blue-1-0: rgba(187, 222, 251, 0);
      --blue-1-1: rgba(187, 222, 251, 0.1);
      --blue-1-2: rgba(187, 222, 251, 0.2);
      --blue-1-3: rgba(187, 222, 251, 0.3);
      --blue-1-4: rgba(187, 222, 251, 0.4);
      --blue-1-5: rgba(187, 222, 251, 0.5);
      --blue-1-6: rgba(187, 222, 251, 0.6);
      --blue-1-7: rgba(187, 222, 251, 0.7);
      --blue-1-8: rgba(187, 222, 251, 0.8);
      --blue-1-9: rgba(187, 222, 251, 0.9);

      /* blue-2 (#90caf9) */
      --blue-2-0: rgba(144, 202, 249, 0);
      --blue-2-1: rgba(144, 202, 249, 0.1);
      --blue-2-2: rgba(144, 202, 249, 0.2);
      --blue-2-3: rgba(144, 202, 249, 0.3);
      --blue-2-4: rgba(144, 202, 249, 0.4);
      --blue-2-5: rgba(144, 202, 249, 0.5);
      --blue-2-6: rgba(144, 202, 249, 0.6);
      --blue-2-7: rgba(144, 202, 249, 0.7);
      --blue-2-8: rgba(144, 202, 249, 0.8);
      --blue-2-9: rgba(144, 202, 249, 0.9);

      /* blue-3 (#64b5f6) */
      --blue-3-0: rgba(100, 181, 246, 0);
      --blue-3-1: rgba(100, 181, 246, 0.1);
      --blue-3-2: rgba(100, 181, 246, 0.2);
      --blue-3-3: rgba(100, 181, 246, 0.3);
      --blue-3-4: rgba(100, 181, 246, 0.4);
      --blue-3-5: rgba(100, 181, 246, 0.5);
      --blue-3-6: rgba(100, 181, 246, 0.6);
      --blue-3-7: rgba(100, 181, 246, 0.7);
      --blue-3-8: rgba(100, 181, 246, 0.8);
      --blue-3-9: rgba(100, 181, 246, 0.9);

      /* blue-4 (#42a5f5) */
      --blue-4-0: rgba(66, 165, 245, 0);
      --blue-4-1: rgba(66, 165, 245, 0.1);
      --blue-4-2: rgba(66, 165, 245, 0.2);
      --blue-4-3: rgba(66, 165, 245, 0.3);
      --blue-4-4: rgba(66, 165, 245, 0.4);
      --blue-4-5: rgba(66, 165, 245, 0.5);
      --blue-4-6: rgba(66, 165, 245, 0.6);
      --blue-4-7: rgba(66, 165, 245, 0.7);
      --blue-4-8: rgba(66, 165, 245, 0.8);
      --blue-4-9: rgba(66, 165, 245, 0.9);

      /* blue-5 (#2196f3) */
      --blue-5-0: rgba(33, 150, 243, 0);
      --blue-5-1: rgba(33, 150, 243, 0.1);
      --blue-5-2: rgba(33, 150, 243, 0.2);
      --blue-5-3: rgba(33, 150, 243, 0.3);
      --blue-5-4: rgba(33, 150, 243, 0.4);
      --blue-5-5: rgba(33, 150, 243, 0.5);
      --blue-5-6: rgba(33, 150, 243, 0.6);
      --blue-5-7: rgba(33, 150, 243, 0.7);
      --blue-5-8: rgba(33, 150, 243, 0.8);
      --blue-5-9: rgba(33, 150, 243, 0.9);

      /* blue-6 (#1e88e5) */
      --blue-6-0: rgba(30, 136, 229, 0);
      --blue-6-1: rgba(30, 136, 229, 0.1);
      --blue-6-2: rgba(30, 136, 229, 0.2);
      --blue-6-3: rgba(30, 136, 229, 0.3);
      --blue-6-4: rgba(30, 136, 229, 0.4);
      --blue-6-5: rgba(30, 136, 229, 0.5);
      --blue-6-6: rgba(30, 136, 229, 0.6);
      --blue-6-7: rgba(30, 136, 229, 0.7);
      --blue-6-8: rgba(30, 136, 229, 0.8);
      --blue-6-9: rgba(30, 136, 229, 0.9);

      /* blue-7 (#1976d2) */
      --blue-7-0: rgba(25, 118, 210, 0);
      --blue-7-1: rgba(25, 118, 210, 0.1);
      --blue-7-2: rgba(25, 118, 210, 0.2);
      --blue-7-3: rgba(25, 118, 210, 0.3);
      --blue-7-4: rgba(25, 118, 210, 0.4);
      --blue-7-5: rgba(25, 118, 210, 0.5);
      --blue-7-6: rgba(25, 118, 210, 0.6);
      --blue-7-7: rgba(25, 118, 210, 0.7);
      --blue-7-8: rgba(25, 118, 210, 0.8);
      --blue-7-9: rgba(25, 118, 210, 0.9);

      /* blue-8 (#1565c0) */
      --blue-8-0: rgba(21, 101, 192, 0);
      --blue-8-1: rgba(21, 101, 192, 0.1);
      --blue-8-2: rgba(21, 101, 192, 0.2);
      --blue-8-3: rgba(21, 101, 192, 0.3);
      --blue-8-4: rgba(21, 101, 192, 0.4);
      --blue-8-5: rgba(21, 101, 192, 0.5);
      --blue-8-6: rgba(21, 101, 192, 0.6);
      --blue-8-7: rgba(21, 101, 192, 0.7);
      --blue-8-8: rgba(21, 101, 192, 0.8);
      --blue-8-9: rgba(21, 101, 192, 0.9);

      /* blue-9 (#0d47a1) */
      --blue-9-0: rgba(13, 71, 161, 0);
      --blue-9-1: rgba(13, 71, 161, 0.1);
      --blue-9-2: rgba(13, 71, 161, 0.2);
      --blue-9-3: rgba(13, 71, 161, 0.3);
      --blue-9-4: rgba(13, 71, 161, 0.4);
      --blue-9-5: rgba(13, 71, 161, 0.5);
      --blue-9-6: rgba(13, 71, 161, 0.6);
      --blue-9-7: rgba(13, 71, 161, 0.7);
      --blue-9-8: rgba(13, 71, 161, 0.8);
      --blue-9-9: rgba(13, 71, 161, 0.9);

      /* sky-0 (#e1f5fe) */
      --sky-0-0: rgba(225, 245, 254, 0);
      --sky-0-1: rgba(225, 245, 254, 0.1);
      --sky-0-2: rgba(225, 245, 254, 0.2);
      --sky-0-3: rgba(225, 245, 254, 0.3);
      --sky-0-4: rgba(225, 245, 254, 0.4);
      --sky-0-5: rgba(225, 245, 254, 0.5);
      --sky-0-6: rgba(225, 245, 254, 0.6);
      --sky-0-7: rgba(225, 245, 254, 0.7);
      --sky-0-8: rgba(225, 245, 254, 0.8);
      --sky-0-9: rgba(225, 245, 254, 0.9);

      /* sky-1 (#b3e5fc) */
      --sky-1-0: rgba(179, 229, 252, 0);
      --sky-1-1: rgba(179, 229, 252, 0.1);
      --sky-1-2: rgba(179, 229, 252, 0.2);
      --sky-1-3: rgba(179, 229, 252, 0.3);
      --sky-1-4: rgba(179, 229, 252, 0.4);
      --sky-1-5: rgba(179, 229, 252, 0.5);
      --sky-1-6: rgba(179, 229, 252, 0.6);
      --sky-1-7: rgba(179, 229, 252, 0.7);
      --sky-1-8: rgba(179, 229, 252, 0.8);
      --sky-1-9: rgba(179, 229, 252, 0.9);

      /* sky-2 (#81d4fa) */
      --sky-2-0: rgba(129, 212, 250, 0);
      --sky-2-1: rgba(129, 212, 250, 0.1);
      --sky-2-2: rgba(129, 212, 250, 0.2);
      --sky-2-3: rgba(129, 212, 250, 0.3);
      --sky-2-4: rgba(129, 212, 250, 0.4);
      --sky-2-5: rgba(129, 212, 250, 0.5);
      --sky-2-6: rgba(129, 212, 250, 0.6);
      --sky-2-7: rgba(129, 212, 250, 0.7);
      --sky-2-8: rgba(129, 212, 250, 0.8);
      --sky-2-9: rgba(129, 212, 250, 0.9);

      /* sky-3 (#4fc3f7) */
      --sky-3-0: rgba(79, 195, 247, 0);
      --sky-3-1: rgba(79, 195, 247, 0.1);
      --sky-3-2: rgba(79, 195, 247, 0.2);
      --sky-3-3: rgba(79, 195, 247, 0.3);
      --sky-3-4: rgba(79, 195, 247, 0.4);
      --sky-3-5: rgba(79, 195, 247, 0.5);
      --sky-3-6: rgba(79, 195, 247, 0.6);
      --sky-3-7: rgba(79, 195, 247, 0.7);
      --sky-3-8: rgba(79, 195, 247, 0.8);
      --sky-3-9: rgba(79, 195, 247, 0.9);

      /* sky-4 (#29b6f6) */
      --sky-4-0: rgba(41, 182, 246, 0);
      --sky-4-1: rgba(41, 182, 246, 0.1);
      --sky-4-2: rgba(41, 182, 246, 0.2);
      --sky-4-3: rgba(41, 182, 246, 0.3);
      --sky-4-4: rgba(41, 182, 246, 0.4);
      --sky-4-5: rgba(41, 182, 246, 0.5);
      --sky-4-6: rgba(41, 182, 246, 0.6);
      --sky-4-7: rgba(41, 182, 246, 0.7);
      --sky-4-8: rgba(41, 182, 246, 0.8);
      --sky-4-9: rgba(41, 182, 246, 0.9);

      /* sky-5 (#03a9f4) */
      --sky-5-0: rgba(3, 169, 244, 0);
      --sky-5-1: rgba(3, 169, 244, 0.1);
      --sky-5-2: rgba(3, 169, 244, 0.2);
      --sky-5-3: rgba(3, 169, 244, 0.3);
      --sky-5-4: rgba(3, 169, 244, 0.4);
      --sky-5-5: rgba(3, 169, 244, 0.5);
      --sky-5-6: rgba(3, 169, 244, 0.6);
      --sky-5-7: rgba(3, 169, 244, 0.7);
      --sky-5-8: rgba(3, 169, 244, 0.8);
      --sky-5-9: rgba(3, 169, 244, 0.9);

      /* sky-6 (#039be5) */
      --sky-6-0: rgba(3, 155, 229, 0);
      --sky-6-1: rgba(3, 155, 229, 0.1);
      --sky-6-2: rgba(3, 155, 229, 0.2);
      --sky-6-3: rgba(3, 155, 229, 0.3);
      --sky-6-4: rgba(3, 155, 229, 0.4);
      --sky-6-5: rgba(3, 155, 229, 0.5);
      --sky-6-6: rgba(3, 155, 229, 0.6);
      --sky-6-7: rgba(3, 155, 229, 0.7);
      --sky-6-8: rgba(3, 155, 229, 0.8);
      --sky-6-9: rgba(3, 155, 229, 0.9);

      /* sky-7 (#0288d1) */
      --sky-7-0: rgba(2, 136, 209, 0);
      --sky-7-1: rgba(2, 136, 209, 0.1);
      --sky-7-2: rgba(2, 136, 209, 0.2);
      --sky-7-3: rgba(2, 136, 209, 0.3);
      --sky-7-4: rgba(2, 136, 209, 0.4);
      --sky-7-5: rgba(2, 136, 209, 0.5);
      --sky-7-6: rgba(2, 136, 209, 0.6);
      --sky-7-7: rgba(2, 136, 209, 0.7);
      --sky-7-8: rgba(2, 136, 209, 0.8);
      --sky-7-9: rgba(2, 136, 209, 0.9);

      /* sky-8 (#0277bd) */
      --sky-8-0: rgba(2, 119, 189, 0);
      --sky-8-1: rgba(2, 119, 189, 0.1);
      --sky-8-2: rgba(2, 119, 189, 0.2);
      --sky-8-3: rgba(2, 119, 189, 0.3);
      --sky-8-4: rgba(2, 119, 189, 0.4);
      --sky-8-5: rgba(2, 119, 189, 0.5);
      --sky-8-6: rgba(2, 119, 189, 0.6);
      --sky-8-7: rgba(2, 119, 189, 0.7);
      --sky-8-8: rgba(2, 119, 189, 0.8);
      --sky-8-9: rgba(2, 119, 189, 0.9);

      /* sky-9 (#01579b) */
      --sky-9-0: rgba(1, 87, 155, 0);
      --sky-9-1: rgba(1, 87, 155, 0.1);
      --sky-9-2: rgba(1, 87, 155, 0.2);
      --sky-9-3: rgba(1, 87, 155, 0.3);
      --sky-9-4: rgba(1, 87, 155, 0.4);
      --sky-9-5: rgba(1, 87, 155, 0.5);
      --sky-9-6: rgba(1, 87, 155, 0.6);
      --sky-9-7: rgba(1, 87, 155, 0.7);
      --sky-9-8: rgba(1, 87, 155, 0.8);
      --sky-9-9: rgba(1, 87, 155, 0.9);

      /* charcoal-0 (#eceff1) */
      --charcoal-0-0: rgba(236, 239, 241, 0);
      --charcoal-0-1: rgba(236, 239, 241, 0.1);
      --charcoal-0-2: rgba(236, 239, 241, 0.2);
      --charcoal-0-3: rgba(236, 239, 241, 0.3);
      --charcoal-0-4: rgba(236, 239, 241, 0.4);
      --charcoal-0-5: rgba(236, 239, 241, 0.5);
      --charcoal-0-6: rgba(236, 239, 241, 0.6);
      --charcoal-0-7: rgba(236, 239, 241, 0.7);
      --charcoal-0-8: rgba(236, 239, 241, 0.8);
      --charcoal-0-9: rgba(236, 239, 241, 0.9);

      /* charcoal-1 (#cfd8dc) */
      --charcoal-1-0: rgba(207, 216, 220, 0);
      --charcoal-1-1: rgba(207, 216, 220, 0.1);
      --charcoal-1-2: rgba(207, 216, 220, 0.2);
      --charcoal-1-3: rgba(207, 216, 220, 0.3);
      --charcoal-1-4: rgba(207, 216, 220, 0.4);
      --charcoal-1-5: rgba(207, 216, 220, 0.5);
      --charcoal-1-6: rgba(207, 216, 220, 0.6);
      --charcoal-1-7: rgba(207, 216, 220, 0.7);
      --charcoal-1-8: rgba(207, 216, 220, 0.8);
      --charcoal-1-9: rgba(207, 216, 220, 0.9);

      /* charcoal-2 (#b0bec5) */
      --charcoal-2-0: rgba(176, 190, 197, 0);
      --charcoal-2-1: rgba(176, 190, 197, 0.1);
      --charcoal-2-2: rgba(176, 190, 197, 0.2);
      --charcoal-2-3: rgba(176, 190, 197, 0.3);
      --charcoal-2-4: rgba(176, 190, 197, 0.4);
      --charcoal-2-5: rgba(176, 190, 197, 0.5);
      --charcoal-2-6: rgba(176, 190, 197, 0.6);
      --charcoal-2-7: rgba(176, 190, 197, 0.7);
      --charcoal-2-8: rgba(176, 190, 197, 0.8);
      --charcoal-2-9: rgba(176, 190, 197, 0.9);

      /* charcoal-3 (#90a4ae) */
      --charcoal-3-0: rgba(144, 164, 174, 0);
      --charcoal-3-1: rgba(144, 164, 174, 0.1);
      --charcoal-3-2: rgba(144, 164, 174, 0.2);
      --charcoal-3-3: rgba(144, 164, 174, 0.3);
      --charcoal-3-4: rgba(144, 164, 174, 0.4);
      --charcoal-3-5: rgba(144, 164, 174, 0.5);
      --charcoal-3-6: rgba(144, 164, 174, 0.6);
      --charcoal-3-7: rgba(144, 164, 174, 0.7);
      --charcoal-3-8: rgba(144, 164, 174, 0.8);
      --charcoal-3-9: rgba(144, 164, 174, 0.9);

      /* charcoal-4 (#78909c) */
      --charcoal-4-0: rgba(120, 144, 156, 0);
      --charcoal-4-1: rgba(120, 144, 156, 0.1);
      --charcoal-4-2: rgba(120, 144, 156, 0.2);
      --charcoal-4-3: rgba(120, 144, 156, 0.3);
      --charcoal-4-4: rgba(120, 144, 156, 0.4);
      --charcoal-4-5: rgba(120, 144, 156, 0.5);
      --charcoal-4-6: rgba(120, 144, 156, 0.6);
      --charcoal-4-7: rgba(120, 144, 156, 0.7);
      --charcoal-4-8: rgba(120, 144, 156, 0.8);
      --charcoal-4-9: rgba(120, 144, 156, 0.9);

      /* charcoal-5 (#607d8b) */
      --charcoal-5-0: rgba(96, 125, 139, 0);
      --charcoal-5-1: rgba(96, 125, 139, 0.1);
      --charcoal-5-2: rgba(96, 125, 139, 0.2);
      --charcoal-5-3: rgba(96, 125, 139, 0.3);
      --charcoal-5-4: rgba(96, 125, 139, 0.4);
      --charcoal-5-5: rgba(96, 125, 139, 0.5);
      --charcoal-5-6: rgba(96, 125, 139, 0.6);
      --charcoal-5-7: rgba(96, 125, 139, 0.7);
      --charcoal-5-8: rgba(96, 125, 139, 0.8);
      --charcoal-5-9: rgba(96, 125, 139, 0.9);

      /* charcoal-6 (#546e7a) */
      --charcoal-6-0: rgba(84, 110, 122, 0);
      --charcoal-6-1: rgba(84, 110, 122, 0.1);
      --charcoal-6-2: rgba(84, 110, 122, 0.2);
      --charcoal-6-3: rgba(84, 110, 122, 0.3);
      --charcoal-6-4: rgba(84, 110, 122, 0.4);
      --charcoal-6-5: rgba(84, 110, 122, 0.5);
      --charcoal-6-6: rgba(84, 110, 122, 0.6);
      --charcoal-6-7: rgba(84, 110, 122, 0.7);
      --charcoal-6-8: rgba(84, 110, 122, 0.8);
      --charcoal-6-9: rgba(84, 110, 122, 0.9);

      /* charcoal-7 (#455a64) */
      --charcoal-7-0: rgba(69, 90, 100, 0);
      --charcoal-7-1: rgba(69, 90, 100, 0.1);
      --charcoal-7-2: rgba(69, 90, 100, 0.2);
      --charcoal-7-3: rgba(69, 90, 100, 0.3);
      --charcoal-7-4: rgba(69, 90, 100, 0.4);
      --charcoal-7-5: rgba(69, 90, 100, 0.5);
      --charcoal-7-6: rgba(69, 90, 100, 0.6);
      --charcoal-7-7: rgba(69, 90, 100, 0.7);
      --charcoal-7-8: rgba(69, 90, 100, 0.8);
      --charcoal-7-9: rgba(69, 90, 100, 0.9);

      /* charcoal-8 (#37474f) */
      --charcoal-8-0: rgba(55, 71, 79, 0);
      --charcoal-8-1: rgba(55, 71, 79, 0.1);
      --charcoal-8-2: rgba(55, 71, 79, 0.2);
      --charcoal-8-3: rgba(55, 71, 79, 0.3);
      --charcoal-8-4: rgba(55, 71, 79, 0.4);
      --charcoal-8-5: rgba(55, 71, 79, 0.5);
      --charcoal-8-6: rgba(55, 71, 79, 0.6);
      --charcoal-8-7: rgba(55, 71, 79, 0.7);
      --charcoal-8-8: rgba(55, 71, 79, 0.8);
      --charcoal-8-9: rgba(55, 71, 79, 0.9);

      /* charcoal-9 (#263238) */
      --charcoal-9-0: rgba(38, 50, 56, 0);
      --charcoal-9-1: rgba(38, 50, 56, 0.1);
      --charcoal-9-2: rgba(38, 50, 56, 0.2);
      --charcoal-9-3: rgba(38, 50, 56, 0.3);
      --charcoal-9-4: rgba(38, 50, 56, 0.4);
      --charcoal-9-5: rgba(38, 50, 56, 0.5);
      --charcoal-9-6: rgba(38, 50, 56, 0.6);
      --charcoal-9-7: rgba(38, 50, 56, 0.7);
      --charcoal-9-8: rgba(38, 50, 56, 0.8);
      --charcoal-9-9: rgba(38, 50, 56, 0.9);

      /* khaki-0 (#f0f4c3) */
      --khaki-0-0: rgba(240, 244, 195, 0);
      --khaki-0-1: rgba(240, 244, 195, 0.1);
      --khaki-0-2: rgba(240, 244, 195, 0.2);
      --khaki-0-3: rgba(240, 244, 195, 0.3);
      --khaki-0-4: rgba(240, 244, 195, 0.4);
      --khaki-0-5: rgba(240, 244, 195, 0.5);
      --khaki-0-6: rgba(240, 244, 195, 0.6);
      --khaki-0-7: rgba(240, 244, 195, 0.7);
      --khaki-0-8: rgba(240, 244, 195, 0.8);
      --khaki-0-9: rgba(240, 244, 195, 0.9);

      /* khaki-1 (#e6ee9c) */
      --khaki-1-0: rgba(230, 238, 156, 0);
      --khaki-1-1: rgba(230, 238, 156, 0.1);
      --khaki-1-2: rgba(230, 238, 156, 0.2);
      --khaki-1-3: rgba(230, 238, 156, 0.3);
      --khaki-1-4: rgba(230, 238, 156, 0.4);
      --khaki-1-5: rgba(230, 238, 156, 0.5);
      --khaki-1-6: rgba(230, 238, 156, 0.6);
      --khaki-1-7: rgba(230, 238, 156, 0.7);
      --khaki-1-8: rgba(230, 238, 156, 0.8);
      --khaki-1-9: rgba(230, 238, 156, 0.9);

      /* khaki-2 (#dce775) */
      --khaki-2-0: rgba(220, 231, 117, 0);
      --khaki-2-1: rgba(220, 231, 117, 0.1);
      --khaki-2-2: rgba(220, 231, 117, 0.2);
      --khaki-2-3: rgba(220, 231, 117, 0.3);
      --khaki-2-4: rgba(220, 231, 117, 0.4);
      --khaki-2-5: rgba(220, 231, 117, 0.5);
      --khaki-2-6: rgba(220, 231, 117, 0.6);
      --khaki-2-7: rgba(220, 231, 117, 0.7);
      --khaki-2-8: rgba(220, 231, 117, 0.8);
      --khaki-2-9: rgba(220, 231, 117, 0.9);

      /* khaki-3 (#d4e157) */
      --khaki-3-0: rgba(212, 225, 87, 0);
      --khaki-3-1: rgba(212, 225, 87, 0.1);
      --khaki-3-2: rgba(212, 225, 87, 0.2);
      --khaki-3-3: rgba(212, 225, 87, 0.3);
      --khaki-3-4: rgba(212, 225, 87, 0.4);
      --khaki-3-5: rgba(212, 225, 87, 0.5);
      --khaki-3-6: rgba(212, 225, 87, 0.6);
      --khaki-3-7: rgba(212, 225, 87, 0.7);
      --khaki-3-8: rgba(212, 225, 87, 0.8);
      --khaki-3-9: rgba(212, 225, 87, 0.9);

      /* khaki-4 (#cddc39) */
      --khaki-4-0: rgba(205, 220, 57, 0);
      --khaki-4-1: rgba(205, 220, 57, 0.1);
      --khaki-4-2: rgba(205, 220, 57, 0.2);
      --khaki-4-3: rgba(205, 220, 57, 0.3);
      --khaki-4-4: rgba(205, 220, 57, 0.4);
      --khaki-4-5: rgba(205, 220, 57, 0.5);
      --khaki-4-6: rgba(205, 220, 57, 0.6);
      --khaki-4-7: rgba(205, 220, 57, 0.7);
      --khaki-4-8: rgba(205, 220, 57, 0.8);
      --khaki-4-9: rgba(205, 220, 57, 0.9);

      /* khaki-5 (#c0ca33) */
      --khaki-5-0: rgba(192, 202, 51, 0);
      --khaki-5-1: rgba(192, 202, 51, 0.1);
      --khaki-5-2: rgba(192, 202, 51, 0.2);
      --khaki-5-3: rgba(192, 202, 51, 0.3);
      --khaki-5-4: rgba(192, 202, 51, 0.4);
      --khaki-5-5: rgba(192, 202, 51, 0.5);
      --khaki-5-6: rgba(192, 202, 51, 0.6);
      --khaki-5-7: rgba(192, 202, 51, 0.7);
      --khaki-5-8: rgba(192, 202, 51, 0.8);
      --khaki-5-9: rgba(192, 202, 51, 0.9);

      /* khaki-6 (#afb42b) */
      --khaki-6-0: rgba(175, 180, 43, 0);
      --khaki-6-1: rgba(175, 180, 43, 0.1);
      --khaki-6-2: rgba(175, 180, 43, 0.2);
      --khaki-6-3: rgba(175, 180, 43, 0.3);
      --khaki-6-4: rgba(175, 180, 43, 0.4);
      --khaki-6-5: rgba(175, 180, 43, 0.5);
      --khaki-6-6: rgba(175, 180, 43, 0.6);
      --khaki-6-7: rgba(175, 180, 43, 0.7);
      --khaki-6-8: rgba(175, 180, 43, 0.8);
      --khaki-6-9: rgba(175, 180, 43, 0.9);

      /* khaki-7 (#9e9d24) */
      --khaki-7-0: rgba(158, 157, 36, 0);
      --khaki-7-1: rgba(158, 157, 36, 0.1);
      --khaki-7-2: rgba(158, 157, 36, 0.2);
      --khaki-7-3: rgba(158, 157, 36, 0.3);
      --khaki-7-4: rgba(158, 157, 36, 0.4);
      --khaki-7-5: rgba(158, 157, 36, 0.5);
      --khaki-7-6: rgba(158, 157, 36, 0.6);
      --khaki-7-7: rgba(158, 157, 36, 0.7);
      --khaki-7-8: rgba(158, 157, 36, 0.8);
      --khaki-7-9: rgba(158, 157, 36, 0.9);

      /* khaki-8 (#827717) */
      --khaki-8-0: rgba(130, 119, 23, 0);
      --khaki-8-1: rgba(130, 119, 23, 0.1);
      --khaki-8-2: rgba(130, 119, 23, 0.2);
      --khaki-8-3: rgba(130, 119, 23, 0.3);
      --khaki-8-4: rgba(130, 119, 23, 0.4);
      --khaki-8-5: rgba(130, 119, 23, 0.5);
      --khaki-8-6: rgba(130, 119, 23, 0.6);
      --khaki-8-7: rgba(130, 119, 23, 0.7);
      --khaki-8-8: rgba(130, 119, 23, 0.8);
      --khaki-8-9: rgba(130, 119, 23, 0.9);

      /* khaki-9 (#616161) */
      --khaki-9-0: rgba(97, 97, 97, 0);
      --khaki-9-1: rgba(97, 97, 97, 0.1);
      --khaki-9-2: rgba(97, 97, 97, 0.2);
      --khaki-9-3: rgba(97, 97, 97, 0.3);
      --khaki-9-4: rgba(97, 97, 97, 0.4);
      --khaki-9-5: rgba(97, 97, 97, 0.5);
      --khaki-9-6: rgba(97, 97, 97, 0.6);
      --khaki-9-7: rgba(97, 97, 97, 0.7);
      --khaki-9-8: rgba(97, 97, 97, 0.8);
      --khaki-9-9: rgba(97, 97, 97, 0.9);
}
