<!DOCTYPE html>
<html lang="en">
      <head>
            <link rel="icon" href="" type="image/png" />
            <meta charset="UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <title></title>

            <!-- CSS -->
            <link rel="stylesheet" href="../../css/components/boxes/Box.css" />
            <link rel="stylesheet" href="../../css/components/layout/Sidebar.css" />
            <link rel="stylesheet" href="../../css/global/Root.css" />
            <link rel="stylesheet" href="../../css/global/Color.css" />
            <link rel="stylesheet" href="../../css/global/Font.css" />
            <link rel="stylesheet" href="../../css/global/Keyframe.css" />
            <link rel="stylesheet" href="../../css/page/Index.css" />
      </head>
      <body>
            <div id="container"></div>
            <template id="template"></template>
            <script type="module" src="../../js/main.js"></script>
      </body>
</html>
